/* ===================================================
   Document Information and Permissions
   =================================================== */
/*
Company Name:       Urban4M Inc.
Version:            '~1.0.0'
Date:               05/09/2014
Document Type:      Cascading Style Sheet via Syntactically Awesome Stylesheets
Author:             Christopher A. McElveen
Company URL:        http://www.megainc.com
Support Email:      chris@chrisamcelveen.com
Permissions:        All rights reserved.


                    Thanks,
*/
/* ===================================================
   /Document Information and Permissions
   =================================================== */
/* ===================================================
   Import Section
   =================================================== */
@import url(../bower_components/font-awesome/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/*
    a {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1.125em;
        color: inherit;
    }
*/
/* ===================================================
   Icon-Font Section
   =================================================== */
/* Font-Awesome Icon Usage Example:

    <p><i class="fa fa-camera-retro fa-lg"></i> fa-camera-retro</p>,
    <p><i class="fa fa-camera-retro fa-2x"></i> fa-camera-retro</p>,
    <p><i class="fa fa-camera-retro fa-3x"></i> fa-camera-retro</p>,
    <p><i class="fa fa-camera-retro fa-4x"></i> fa-camera-retro</p>,
    <p><i class="fa fa-camera-retro fa-5x"></i> fa-camera-retro</p>

*/
/* ===================================================
   Note & Example
   =================================================== */
/*  
    - Please refrain from using the px value except for font sizes.

    - Please adhere to the "Style Structure Template" below.
*/
/* Style Structure Template:

    .class, (or) #id {
        sizing: (i.e. height and width, this is for postioning -
                - an element in relation to the the page);
        positioning: (i.e. all of your margins and paddings);
                    visual styles: (i.e. color, font styles, and other non-structural -
                    edits);

    }

    ***Example****

                #id .class {
                    width: 100%;
                    margin: auto !important;
                    background-color: blue;
                    border-radius: 6px;
                }

    ***End***

*/
/* ===================================================
   Main Styles
   =================================================== */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
  line-height: 1.2em; }

html {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6, p, b {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.03em;
  line-height: 1.5625em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75); }

a {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.03em;
  line-height: 1.5625em;
  font-weight: 200;
  color: inherit;
  text-decoration: none; }

/*----------Margins-------------------*/
.margin-0 {
  margin-bottom: 0 !important; }

.margin-10 {
  margin-bottom: 10px !important; }

.margin-15 {
  margin-bottom: 15px !important; }

.margin-20 {
  margin-bottom: 20px !important; }

.margin-30 {
  margin-bottom: 30px !important; }

.margin-40 {
  margin-bottom: 40px !important; }

.margin-50 {
  margin-bottom: 50px !important; }

.margin-60 {
  margin-bottom: 60px !important; }

.margin-70 {
  margin-bottom: 70px !important; }

.margin-80 {
  margin-bottom: 80px !important; }

.margin-90 {
  margin-bottom: 90px !important; }

.margin-100 {
  margin-bottom: 100px !important; }

/*----------Colors-------------------*/
.white {
  color: #fff; }

.black {
  color: #000; }

.darker-gray {
  color: #222222; }

.dark-gray {
  color: #333333; }

.gray {
  color: #555555; }

.lighter-gray {
  color: #eeeeee; }

.light-gray {
  color: #999999; }

.blue {
  color: #38c8e0; }

.orange {
  color: #f98253; }

.red {
  color: #d9534f; }

.green {
  color: #5cb85c; }

.yellow {
  color: #f0ad4e; }

/* ===================================================
   Navigation Styles
   =================================================== */
#mini-nav {
  background: #161616;
  height: 22px;
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px;
  min-height: 22px; }

#mini-nav a {
  padding: 0px;
  margin-top: 6px;
  margin-right: 2rem;
  line-height: 0.6125em;
  height: 22px;
  color: #fff;
  font-weight: 600;
  background: transparent; }

.navbar-inverse {
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  border-color: #fff; }

@media only screen and (min-width: 1080px) {
  .navbar-inverse .navbar-nav {
    margin-top: 1rem;
    margin-right: 0rem; }

  .navbar-inverse .navbar-header {
    margin-left: 14rem; } }
@media only screen and (min-width: 893px) and (max-width: 1079px) {
  .navbar-inverse .navbar-nav {
    margin-top: 1rem;
    margin-right: -10rem; }

  .navbar-inverse .navbar-header {
    margin-left: -6rem; } }
@media only screen and (max-width: 892px) {
  .navbar-inverse .navbar-nav {
    margin-top: 1rem;
    margin-right: -10rem; } }
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #000;
  background-color: transparent; }

.navbar-inverse .navbar-text {
  color: #333; }

.navbar-inverse .navbar-nav > li > a {
  font-weight: 600;
  color: #666; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #000;
  background-color: transparent; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #000;
  background-color: transparent; }

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent; }

.navbar-inverse .navbar-toggle {
  border-color: #F5F5F5;
  background: #F5F5F5; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333; }

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #DDD; }

.navbar-inverse .navbar-nav .dropdown a {
  margin-top: 1.19rem;
  font-weight: 600;
  color: #666; }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #F5F5F5; }

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #000;
  border-bottom-color: #000; }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #333;
  border-bottom-color: #333; }

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #000;
  border-bottom-color: #000; }

@media screen and (max-width: 767px) {
  .navbar-inverse .navbar-brand {
    padding-left: 2rem; }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808; }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #666; }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000;
    background-color: transparent; }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000;
    background-color: transparent; }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent; } }
.navbar-inverse .navbar-link {
  color: #333; }

.navbar-inverse .navbar-link:hover {
  color: #000; }

/* Navbar gets a bit higher */
@media screen and (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 22.5px;
    padding-bottom: 22.5px; } }
.navbar-form {
  margin-top: 15.5px;
  margin-bottom: 15.5px; }

.navbar-brand {
  padding: 22.5px 15px; }

.navbar-btn {
  margin-top: 15.5px;
  margin-bottom: 15.5px; }

.navbar-text {
  margin-top: 22.5px;
  margin-bottom: 22.5px; }

.navbar-toggle {
  margin-top: 15.5px;
  margin-bottom: 15.5px; }

/* Navbar menu dropdown */
.dropdown-menu > li > a {
  padding: 10px 20px;
  border-bottom: 1px dashed #E5E5E5; }

.dropdown-menu > li:last-child > a {
  border-bottom: 0; }

/* Navbar SUB menu */
#navbar-inverse li ul.sub-menu {
  display: none; }

#navbar-inverse ul li:hover > ul {
  display: block; }

#navbar-inverse ul li:active > ul {
  display: block; }

#navbar-inverse ul ul.sub-menu {
  position: absolute;
  background: #fff;
  left: 0;
  width: 100%;
  z-index: 99999;
  text-align: left; }

#navbar-inverse ul ul.sub-menu ul {
  left: 160px;
  top: 0;
  width: 190px; }

#navbar-inverse ul ul.sub-menu li {
  line-height: 25px;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0; }

#navbar-inverse ul ul.sub-menu li a {
  color: #666;
  width: 170px;
  background: none; }

#navbar-inverse ul ul.sub-menu li:hover a {
  background: none; }

#navbar-inverse ul ul.sub-menu li a:hover {
  color: #333;
  background: none; }

ul#sub-navigation {
  float: right;
  list-style: none;
  margin-right: 45px;
  margin-top: 36px;
  padding: 0; }

ul#sub-navigation li {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  border-right: 1px solid #666; }

ul#sub-navigation li a {
  text-decoration: none;
  color: #666; }

ul#sub-navigation li a:hover {
  color: #333;
  text-decoration: none; }

ul#sub-navigation li:last-child {
  border-right: 0; }

/* ===================================================
   Header Styles
   =================================================== */
#header {
  height: 68rem;
  background: url("../images/city.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1; }

#gradient {
  height: 68rem;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC40MyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, white 21%, rgba(255, 255, 255, 0.43) 66%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, white), color-stop(66%, rgba(255, 255, 255, 0.43)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 21%, rgba(255, 255, 255, 0.43) 66%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 21%, rgba(255, 255, 255, 0.43) 66%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 21%, rgba(255, 255, 255, 0.43) 66%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 21%, rgba(255, 255, 255, 0.43) 66%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-8 */
  border: transparent;
  z-index: 9999; }

#header span {
  font-weight: 300; }

#header .top-row {
  margin-top: 2.5rem; }

#header .lead {
  margin-left: auto;
  margin-right: auto;
  height: 16rem;
  background: url("../images/mini-marker.png") no-repeat center center; }

#header .lead-box .lead-text {
  display: inline; }

@media only screen and (min-width: 1205px) {
  .top-row {
    position: relative;
    left: 6rem; }

  .top-row .lead-text q {
    position: relative;
    right: 13.5rem;
    bottom: 1rem; }

  .mid-row {
    position: relative;
    top: 0rem;
    left: 4rem; }

  .mid-row .lead-text q {
    position: relative;
    right: 7.5rem;
    bottom: 1rem; }

  .mid-row-2 {
    position: relative;
    top: -8rem;
    left: 4rem; }

  .mid-row-2 .lead-text q {
    position: relative;
    right: 14.5rem;
    bottom: 1rem; }

  .bottom-row {
    position: relative;
    top: -22rem;
    left: 9rem; }

  .bottom-row .lead-text q {
    position: relative;
    right: 14.5rem;
    bottom: 1rem; }

  #header p {
    margin-top: 2rem;
    font-size: 68px;
    line-height: 1.125em;
    font-weight: 300; }

  #header q {
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 3em;
    background: rgba(32, 32, 32, 0.75);
    border: solid 1px transparent;
    border-radius: 4px; }

  #header .lead-box {
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    height: 4.45rem;
    width: auto;
    white-space: pre; }

  #cta {
    position: relative;
    bottom: 11.55rem;
    margin-top: -0.25%;
    height: 12rem;
    background: rgba(32, 32, 32, 0.75);
    border: solid 1px transparent;
    border-radius: 0px; }

  #cta .row {
    margin-top: -4.05rem; }

  #cta b {
    position: relative;
    top: 1.5rem;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.0045rem; }

  #cta .button {
    position: relative;
    bottom: 3.5rem;
    left: 32rem;
    display: inline-block;
    padding: 14px 24px;
    background: #f17b00;
    border: solid 3px #f17b00;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-decoration: none;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out; }

  #cta .button:hover {
    background: transparent; } }
@media only screen and (min-width: 1086px) and (max-width: 1204px) {
  .top-row {
    position: relative;
    left: 3rem; }

  .top-row .lead-text q {
    position: relative;
    right: 16rem;
    bottom: 1rem; }

  .mid-row {
    position: relative;
    top: 0rem;
    left: 9rem; }

  .mid-row .lead-text q {
    position: relative;
    right: 12rem;
    bottom: 1rem; }

  .mid-row-2 {
    position: relative;
    top: -8rem;
    left: 1rem; }

  .mid-row-2 .lead-text q {
    position: relative;
    right: 16.5rem;
    bottom: 1rem; }

  .bottom-row {
    position: relative;
    top: -22rem;
    left: 10rem; }

  .bottom-row .lead-text q {
    position: relative;
    right: 16.25rem;
    bottom: 1rem; }

  #header p {
    margin-top: 2rem;
    font-size: 68px;
    line-height: 1.125em;
    font-weight: 300; }

  #header q {
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 3em;
    background: rgba(32, 32, 32, 0.75);
    border: solid 1px transparent;
    border-radius: 4px; }

  #header .lead-box {
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    height: 4.45rem;
    width: auto;
    white-space: pre; }

  #cta {
    position: relative;
    bottom: 11.55rem;
    margin-top: -0.25%;
    height: 12rem;
    background: rgba(32, 32, 32, 0.75);
    border: solid 1px transparent;
    border-radius: 0px; }

  #cta .row {
    margin-top: -4.05rem; }

  #cta b {
    position: relative;
    top: 1rem;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.0045rem; }

  #cta .button {
    position: relative;
    bottom: 2rem;
    left: 28rem;
    display: inline-block;
    padding: 8px 16px;
    background: #f17b00;
    border: solid 3px #f17b00;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-decoration: none;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out; }

  #cta .button:hover {
    background: transparent; } }
@media only screen and (min-width: 978px) and (max-width: 1085px) {
  #header p {
    margin-top: 2rem;
    font-size: 68px;
    line-height: 1.125em;
    font-weight: 300; }

  #header q {
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 3em;
    background: rgba(32, 32, 32, 0.75);
    border: solid 1px transparent;
    border-radius: 4px; }

  #header .lead-box {
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    height: 4.45rem;
    width: auto;
    white-space: pre; }

  #cta {
    position: relative;
    bottom: 11.55rem;
    margin-top: -0.25%;
    height: 12rem;
    background: rgba(32, 32, 32, 0.75);
    border: solid 1px transparent;
    border-radius: 0px; }

  #cta .row {
    margin-top: -4.05rem; }

  #cta b {
    position: relative;
    top: 1rem;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.0045rem; }

  #cta .button {
    position: relative;
    bottom: 2.65rem;
    left: 34rem;
    display: inline-block;
    padding: 8px 16px;
    background: #f17b00;
    border: solid 3px #f17b00;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-decoration: none;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out; }

  #cta .button:hover {
    background: transparent; } }
@media only screen and (min-width: 692px) and (max-width: 977px) {
  #header p {
    margin-top: 2rem;
    font-size: 68px;
    line-height: 1.125em;
    font-weight: 300; }

  #cta {
    position: relative;
    bottom: 11.55rem;
    margin-top: -0.25%;
    height: 12rem;
    background: rgba(32, 32, 32, 0.75);
    border: solid 1px transparent;
    border-radius: 0px; }

  #cta .row {
    margin-top: 0rem; }

  #cta b {
    position: relative;
    top: 1rem;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.0045rem; }

  #cta .button {
    position: relative;
    top: 2rem;
    right: 4rem;
    display: inline-block;
    padding: 8px 16px;
    background: #f17b00;
    border: solid 3px #f17b00;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-decoration: none;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out; }

  #cta .button:hover {
    background: transparent; } }
@media only screen and (max-width: 691px) {
  #header p {
    margin-top: 2rem;
    font-size: 68px;
    line-height: 1.125em;
    font-weight: 300; }

  #cta {
    position: relative;
    bottom: 15.55rem;
    margin-top: -0.25%;
    height: 16rem;
    background: rgba(32, 32, 32, 0.75);
    border: solid 1px transparent;
    border-radius: 0px; }

  #cta .row {
    margin-top: 0rem; }

  #cta b {
    position: relative;
    left: 5%;
    top: 1rem;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.0045rem; }

  #cta .button {
    position: relative;
    top: 2.5rem;
    left: 5%;
    display: inline-block;
    padding: 8px 16px;
    background: #f17b00;
    border: solid 3px #f17b00;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-decoration: none;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out; }

  #cta .button:hover {
    background: transparent; } }
/* ===================================================
   Feature Styles
   =================================================== */
#features p {
  font-size: 14px; }

#features img {
  padding-left: 14%; }

/* ===================================================
   Footer Styles
   =================================================== */
.pre-footer {
  background-color: #222222;
  border-top: none;
  padding-bottom: 20px;
  color: #A1A1A1; }

.pre-footer a {
  color: #ccc; }

.pre-footer a:hover {
  color: #ccc; }

.pre-footer .span3 {
  border-right: 1px solid #333333; }

.pre-footer .span4 {
  border-right: 1px solid #333333; }

.pre-footer .work {
  padding-right: 35px;
  margin-bottom: 18px; }

.pre-footer h3 {
  color: #A1A1A1;
  font-weight: 100; }

.post-footer {
  border-top: 1px solid #333;
  background-color: #222222;
  padding: 20px 0;
  color: #A1A1A1;
  position: relative; }

.post-footer .up {
  border-bottom: 15px solid #333333;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  display: inline-block;
  left: 50%;
  position: absolute;
  top: -16px; }

.post-footer .top {
  left: 50%;
  position: absolute;
  top: 0px;
  padding-left: 4px;
  color: #333333; }

.post-footer .top:hover {
  text-decoration: underline;
  color: #A1A1A1; }

.post-footer a {
  color: #ccc; }

.post-footer a:hover {
  color: #ccc; }

.post-footer .bookmark a {
  float: right; }

.pre-footer .contact-footer {
  list-style: none outside none;
  margin-left: 0; }

.contact-footer i {
  color: #eee; }

.footer-subscribe {
  color: #eee; }

.copyright {
  line-height: 44px; }
