<div ng-include="'partials/navbar'"></div>

<section id="header">
  <div id="gradient">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <p class="dark-gray text-center">We help you better <br> understand <span class="orange">locations.</span></p>
          </div>
        </div>
        <div class="row">
          <div class="top-row hidden-sm hidden-xs">
            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1">
              <div class="lead">
                <div class="lead-box">
                  <div class="lead-text">
                    <q class="white text-center">Are there new potential sales leads?</q>
                  </div>
                </div>
              </div>
            </div>
            <div class="mid-row">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
                <div class="lead">
                  <div class="lead-box">
                    <div class="lead-text">
                      <q class="white text-center">Is this the ideal place to relocate my family?</q>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mid-row-2 hidden-sm hidden-xs">
            <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3">
              <div class="lead">
                <div class="lead-box">
                  <div class="lead-text">
                    <q class="white text-center">Will this location support my business?</q>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="bottom-row hidden-sm hidden-xs">
            <div class="col-lg-2 col-lg-offset-6 col-md-2 col-md-offset-6 col-sm-2 col-sm-offset-7 col-xs-2 col-xs-offset-7">
              <div class="lead">
                <div class="lead-box">
                  <div class="lead-text">
                    <q class="white text-center">What do people do here?</q>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cta">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
          <b class="white text-center">See how URBAN4M's urban analytics solution can work for you.</b>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-5 col-xs-6 col-xs-offset-3">
          <a class="button" href="#">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row margin-60">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <img src="../images/ft-top.png" class="img-responsive"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-12 col-xs-12">
          <h3 class="darker-gray">Real data, not intuition.</h3>
          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra tellus a nunc dignissim pharetra. Integer mauris ligula, rutrum et porta a, pretium ac enim. Morbi sit amet sapien quis turpis suscipit convallis. Morbi dapibus pharetra sollicitudin. Morbi ac nunc euismod tortor interdum egestas et eget quam. Integer placerat sapien et justo sagittis, nec ornare urna vestibulum. Nunc iaculis feugiat odio, id mollis justo egestas a.</p>
          <br>
          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra tellus a nunc dignissim pharetra. Integer mauris ligula, rutrum et porta a, pretium ac enim. Morbi sit amet sapien quis turpis suscipit convallis. Morbi dapibus pharetra sollicitudin. Morbi ac nunc euismod tortor interdum egestas et eget quam. Integer placerat sapien et justo sagittis, nec ornare urna vestibulum. Nunc iaculis feugiat odio, id mollis justo egestas a.</p>
        </div>
      </div>
      <div class="row margin-60">
        <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-12 col-xs-12">
          <h3 class="darker-gray">Real data, not intuition.</h3>
          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra tellus a nunc dignissim pharetra. Integer mauris ligula, rutrum et porta a, pretium ac enim. Morbi sit amet sapien quis turpis suscipit convallis. Morbi dapibus pharetra sollicitudin. Morbi ac nunc euismod tortor interdum egestas et eget quam. Integer placerat sapien et justo sagittis, nec ornare urna vestibulum. Nunc iaculis feugiat odio, id mollis justo egestas a.</p>
          <br>
          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra tellus a nunc dignissim pharetra. Integer mauris ligula, rutrum et porta a, pretium ac enim. Morbi sit amet sapien quis turpis suscipit convallis. Morbi dapibus pharetra sollicitudin. Morbi ac nunc euismod tortor interdum egestas et eget quam. Integer placerat sapien et justo sagittis, nec ornare urna vestibulum. Nunc iaculis feugiat odio, id mollis justo egestas a.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <img src="../images/ft-mid.png" class="img-responsive"/>
        </div>
      </div>
      <div class="row margin-60">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <img src="../images/ft-bottom.png" class="img-responsive"/>
        </div>
        <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-12 col-xs-12">
          <h3 class="darker-gray">Real data, not intuition.</h3>
          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra tellus a nunc dignissim pharetra. Integer mauris ligula, rutrum et porta a, pretium ac enim. Morbi sit amet sapien quis turpis suscipit convallis. Morbi dapibus pharetra sollicitudin. Morbi ac nunc euismod tortor interdum egestas et eget quam. Integer placerat sapien et justo sagittis, nec ornare urna vestibulum. Nunc iaculis feugiat odio, id mollis justo egestas a.</p>
          <br>
          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra tellus a nunc dignissim pharetra. Integer mauris ligula, rutrum et porta a, pretium ac enim. Morbi sit amet sapien quis turpis suscipit convallis. Morbi dapibus pharetra sollicitudin. Morbi ac nunc euismod tortor interdum egestas et eget quam. Integer placerat sapien et justo sagittis, nec ornare urna vestibulum. Nunc iaculis feugiat odio, id mollis justo egestas a.</p>
        </div>
      </div>
    </div>
  </div>
</section>